  
  <div *ngIf="flag==false" fxLayout="row" fxLayoutAlign="space-around start" fxFlex="100">

    <mat-card fxLayout="column" class="matcard" fxFlex="50" fxFlexOffset.xl="20" fxFlex.xs='97' [style.backgroundColor]="color">
      <div fxLayout="row" fxLayoutAlign="end start" >
      <button  mat-icon-button color="basic" (click)="pinned()">
        <div class="barpin" *ngIf="flag1==true"   >
          
              <img src="../../../assets/images/pin.svg" />
          
        </div>
        <div class="barpin"  *ngIf="flag1==false"  >
           
            <img  src="../../../assets/images/pin1.svg" />
        </div>
      </button>
    </div>
      <div contenteditable="true" data-text="Title" fxFlex="30" id="noteContent" [formControl]="noteTitle" fxLayout="column" class="title" >
        
      </div>
     
    
       <div class="Border" fxLayout="column" class="takenote">
        <textarea class="textArea" matTextareaAutosize placeholder="Take a note.. " [formControl]="noteContent" class="textArea"></textarea>
      </div>
        <div fxFlex="10"  fxLayout="row" fxLayoutAlign="space-between end" >
            <!-- <app-icon-list fxLayoutAlign="end end" (colorEmit)="Changes($event)" ></app-icon-list> -->
            <!-- <button mat-button> <img id="img" src="../../../assets/images/remind me.svg" /></button>
            <button mat-button> <img id="img" src="../../../assets/images/addnote.svg" /></button>
             <button mat-button><img id="img" src="../../../assets/images/color.svg" /></button>
             <button mat-button><img id="img" src="../../../assets/images/img.svg" /></button>
             <button mat-button><img id="img" src="../../../assets/images/archieve.svg" /></button> -->
             <app-icon-list></app-icon-list>
      <button class="addnote" mat-button (click)="addNote()" >close</button>
      
    </div>
    
    </mat-card>
  </div> 
