<div class="mainForm" fxLayoutAlign="center center" fxFlex="100">
    <mat-card class="mainDiv" fxFlex="88" fxFlex.xs='100'>

        <mat-card-header>
            <div>
                <mat-error>{{message1}}</mat-error>
            </div>
            <div fxFlex='100' fxLayoutAlign='start'>
                <h1>
                    <span class="F">F</span>
                    <span class="u">u</span>
                    <span class="n">n</span>
                    <span class="d">d</span>
                    <span class="o">o</span>
                    <span class="o1">o</span>
                </h1>
            </div>
        </mat-card-header>

        <form class="inputForm">

            <mat-form-field appearance="outline" class="firstName" color="accent">
                <mat-label>First name</mat-label>
                <input matInput placeholder="First name" [formControl]="firstname" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="lastName" color="accent">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Last name" [formControl]="lastname" required>

            </mat-form-field>
            <mat-form-field appearance="outline" class="gmail" color="accent">
                <mat-label>username</mat-label>
                <input matInput placeholder="user name" [formControl]="username" required>
                <p matSuffix>@gmail.com</p>
                <mat-hint>You can use letters and numbers</mat-hint>

            </mat-form-field>
            <div class="password">
                <mat-form-field appearance="outline" class="pass" color="accent">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="password"
                        minlength="8" maxlength="15">
                    <mat-error *ngIf="password.hasError('required')">mandatory</mat-error>

                </mat-form-field>
                <mat-form-field appearance="outline" class="confirm" color="accent">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="confirm"
                        minlength="8" maxlength="15">
                    <mat-error *ngIf="password.hasError('required')">mandatory</mat-error>

                </mat-form-field>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <br>

            </div>
            <!-- -------------------------------------------------service cart display------------------------------------------------------------ -->
            <div *ngIf='service=="advance"' fxLayoutAlign='center center' fxLayoutAlign.xs='start center'>
                <div fxLayout='row'>
                    <div class="advance">
                        <div class="rate">
                            <div style="margin-left:20px;margin-top: 10px">
                              <font size="5">Price : ${{advance.price}} per month </font>
                            </div>
                
                            <div style="margin-left:20px;color: blue;font-size: 15px">{{advance.name}}</div>
                            <div>
                              <ul>
                                <li style="margin-top:10px; opacity: 0.7">$ {{advance.price}}/month</li>
                                <li style="margin-top:10px;opacity: 0.7">{{advance.description}}</li>
                
                              </ul>
                            </div>
                          </div>
                          <div  fxLayoutAlign='center end' style="margin-bottom:-25px">SELECTED</div>
                    </div>
                    <div class='basic' style="margin-left:30px">
                        <div class="rate1" >
                            <div style="margin-left:20px;margin-top: 10px">
                              <font size="5">Price : ${{basic.price}} per month</font>
                            </div>
                
                            <div style="margin-left:20px;color: blue;font-size: 15px">{{basic.name}}</div>
                            <div>
                              <ul>
                                <li style="margin-top:10px; opacity: 0.7">$ {{basic.price}}/month</li>
                                <li style="margin-top:10px;opacity: 0.7">{{basic.description}}</li>
                                  
                              </ul>
                            </div>
                          </div>
                          <!-- <div  fxLayoutAlign='center end' >Add To Cart</div> -->
                    </div>
                </div>
            </div>
            <div *ngIf='service=="basic"' fxLayoutAlig.xs='start center' fxLayoutAlign='center center'>
                <div fxLayout='row'>
                    <div class="basic">
                        <div class="rate">
                            <div style="margin-left:20px;margin-top: 10px">
                              <font size="5">Price : ${{advance.price}} per month </font>
                            </div>
                
                            <div style="margin-left:20px;color: blue;font-size: 15px">{{advance.name}}</div>
                            <div>
                              <ul>
                                <li style="margin-top:10px; opacity: 0.7">$ {{advance.price}}/month</li>
                                <li style="margin-top:10px;opacity: 0.7">{{advance.description}}</li>
                
                              </ul>
                            </div>
                          </div>
                          <div  fxLayoutAlign='center end'  style="margin-bottom:-25px">Add To Cart</div>
                    </div>
                    <div class='advance' style="margin-left:30px">
                        <div class="rate1" >
                            <div style="margin-left:20px;margin-top: 10px">
                              <font size="5">Price : ${{basic.price}} per month</font>
                            </div>
                
                            <div style="margin-left:20px;color: blue;font-size: 15px">{{basic.name}}</div>
                            <div>
                              <ul>
                                <li style="margin-top:10px; opacity: 0.7">$ {{basic.price}}/month</li>
                                <li style="margin-top:10px;opacity: 0.7">{{basic.description}}</li>
                                  
                              </ul>
                            </div>
                          </div>
                          <div fxLayoutAlign='center end' >SELECTED</div>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------btn display------------------------------------------------------------ -->
            <br><br><br><br>
            <div class="button" fxLayoutAlign='space-between center' fxLayout='row'>
                <button mat-button class="primary" style="background-color:white;color:rgb(13, 56, 87)" (click)="login()">SignIn</button>
                <button mat-raised-button class="primary" (click)="register()">Register</button>
            </div>
            <div>
                <mat-error>{{message}}</mat-error>
            </div>
        </form>
    </mat-card>
</div>