@import '../../../scss/color.scss';
@import '../../../scss/mixins.scss';


.F{
    color:$blue;
}
.u{
    color:$red;
}
.n{
    color:$lightblue
}
.d{
    color:$green
}
.o{
    color:$bluebtn;
}
.o1{
    color:$mixblue
}
p{
    color:$black;
    font-weight: 650;
    font-family: 'Times New Roman', Times, serif;
}
.btn
{
    background: rgb(37, 66, 161);
    color:$white;
    width: 20%;
    float: right;  
     
}
.reg
{
    background: white;
    color: rgb(37, 66, 161);
    width: 35%;
    float: left; 
     
}
.help-block{
    font-size: 0.8em;
    color: red;
    // text-align: center;
}
.main{
    height: 100vh;
}
.err{
    font-size: 0.8em;
    color: red;
}
.fname mat-form-field{
    width:98%;
}
.lname mat-form-field{
    width: 98%;
}
.password mat-form-field{
    width: 90%;
}
.confirmpassword mat-form-field{
    width: 90%
}
.email mat-form-field{
    width:87%;
}
// @media screen and (max-width:599px){
//     #password mat-form-field{
//         width: 70%
//         }
  
//     #email mat-form-field{
//             width: 10%
//          }
//     #confirmpassword mat-form-field{
//             width: 70%
//             }
//     #fname mat-form-field{
//                 width: 70%
//                 }
//                 #lname mat-form-field{
//                     width: 70%
//                     }
//   }
