@import '../../../scss/color.scss';
@import '../../../scss/mixins.scss';


.F{
    color:$blue;
}
.u{
    color:$red;
}
.n{
    color:$lightblue
}
.d{
    color:$green
}
.o{
    color:$bluebtn;
}
.o1{
    color:$mixblue
}


.mainForm{
    display: flex;
    flex-direction: column;
    // border:2px ridge;
    // border-radius: 20px;
    padding: 5%;
    width: fit-content;
  margin-left: 10%;
}
@media screen and (max-width:599px){
    .mainForm{
        margin-left: 0px;
    }
}
.button{
    .primary{
        background-color: #3399ff;
        color: white;
        font-style: italic;
    }
}
.fundoo{
    display:inline-block;
}

.inputForm{
    align-self: center;
   
    
.firstName{
    width: 40%;
    margin-right: 2%;
}
.lastName{
    width: 40%;
}
.gmail{
    width: 82%;
}
.pass{
    margin-right: 2%;
}
.confirm{
    margin-right: 3%;
}
}
.advance{
    width:200px; 
    background-color: white;
    box-shadow: 25px 40px orange;
    border-style: groove;
    border-radius: 2%;
    
}
.basic{
    width: 200px;
    background-color: white;
    border-style: groove;
    border-radius: 2%;
    box-shadow: 25px 40px gray;

}

@media screen and (max-width:700px){
    .advance{
        width: 170px;
    }
    .basic{
        width: 170px
    }
  

}
@media screen and (max-width:400px){
    .advance{
        width: 130px;
    }
    .basic{
        width: 130px
    }
  

}