<mat-toolbar class="dashboardToolBar">
  <div class="iconAndTitle">

    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Main Menu">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <div  *ngIf='flag2==false'>
    <img class="fundooIcon" src="../../../assets/images/keep_48dp.png"></div>

    <div class="dashboardTitle">{{headerName}}</div>

  </div>
<!-- -----------------------------------------------search bar----------------------------------------------------------- -->
  <div class="searchToolBar">
    <button mat-icon-button>
      <mat-icon  class="mat-18" (click)='SearchBar()'>search</mat-icon><!-- hide at below 600-->
    </button>
    <input *ngIf='flag2==true' [(ngModel)]="Search" (keyup)='lookfor()' [style.fontSize.px]="16" (click)='goSearch()'
      class="searchInputBar" type="text" placeholder="search" fxShow.xs fxHide >
    <input fxHide.xs [(ngModel)]="Search" (keyup)='lookfor()' [style.fontSize.px]="16" (click)='goSearch()' class="searchInputBar"
      type="text" placeholder="search">
  </div>
<!-- -----------------------------------------------refresh--------------------------------------------- -->
  <div>
    <button fxHide.xs fxHide.sm mat-icon-button matTooltip="Refresh">
      <mat-icon class="refresh" (click)='refresh()'>refresh</mat-icon>
    </button>
    <!-- ---------------------------------------------grid and list---------------------------------------- -->
    <button fxHide.xs mat-icon-button matTooltip="List view" *ngIf='flag3==true' (click)='grid_list()'>
      <mat-icon class="view_list">view_list</mat-icon>
    </button>
    <button (click)='grid_list()'fxHide.xs mat-icon-button matTooltip="grid view" *ngIf='flag3==false' >
      <mat-icon >grid_view</mat-icon>
    </button>
   
      <!-- -----------------------------------------cart ---------------------------------------------------------- -->
      <button *ngIf='flag2==false' mat-icon-button matTooltip="cart" (click)='openCart()'>
        <img src="../../../assets/images/baseline-shopping_cart-24px.svg">
      </button>
  </div>
   <!-- ---------------------------------------------------imagecrop--------------------------------------------- -->
  <div  *ngIf='flag2==false' >
   
    <button *ngIf='imageNew == ""' mat-mini-fab [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"
     mat-icon-button class="accountButton" [matMenuTriggerFor]="accountMenu" matTooltip="Google Account">
      
    </button>
    <button *ngIf='imageNew != ""' mat-mini-fab [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"
    mat-icon-button class="accountButton" [matMenuTriggerFor]="accountMenu" matTooltip="Google Account">
   </button>
   
    <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" class="menu" >
      <div fxLayout='row'>
          <div fxFlex='32'>  
              <button  (click) = "$event.stopPropagation()"
                        [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'65px','height':'65px'}"
                        (click)="imageSelectFile.click()" matTooltip="fundoo Account"
                        mat-mini-fab class="imageSelect" >
          <div mat-raised-button class="change">change</div>
          </button>
          
          <input  fxHide class="image" type="file" (change)="fileUpload($event)" #imageSelectFile>
          
          </div>
        <div fxLayout='column' fxFlex='60'>
        <div>{{name}}</div>
        <div>{{email}}</div>
      </div>
      </div><br>
      <mat-divider></mat-divider>
      <!-- -------------------------------------------------signout--------------------------------------------- -->
      <div fxLayoutAlign='end end'>
        <button mat-flat-button (click)="signout()" class="signout">Sign out</button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>

<!-- ----------------------------------------------mat-nav--------------------------------------------- -->
<mat-divider></mat-divider>

<mat-drawer-container class="example-container">
  <mat-drawer #sidenav mode="side" opened="false">
    <div>

      <button mat-button (click)="note()" (click)="headerName= 'Fundoo Notes'" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
        <mat-icon>lightbulb_outline</mat-icon> Notes

      </button>

    </div>
    <div>
      <button mat-button (click)='reminder()' (click)="headerName= 'Reminders'" [ngClass]="{'sideNavListItems': headerName!='Reminders', 'sideNavlistItemsColored': headerName=='Reminders'}">
        <mat-icon>notifications_none</mat-icon> Reminders
      </button>
    </div>

    <mat-divider></mat-divider>


    <p class="textSize">LABELS</p>
    <div *ngFor='let array of labelList'>
      <button mat-button (click)="sendLabel(array)" (click)="editlabel()" (click)="headerName=array.label" [ngClass]="{'sideNavListItems': headerName!=array.label, 'sideNavlistItemsColored': headerName==array.label}">
        <mat-icon>label_outline</mat-icon> {{array.label}}
      </button>
    </div>
    <button class="sideNavListItems" mat-button (click)="openLabel()"  (click)="headerName='labels'" [ngClass]="{'sideNavListItems': headerName!='labels', 'sideNavlistItemsColored': headerName=='labels'}">
      <mat-icon>edit</mat-icon> Edit Labels
    </button>
    <mat-divider></mat-divider>


    <div>
      <button mat-button (click)="archieve()" (click)="headerName= 'Archive'" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
        <mat-icon>archive</mat-icon> Archive
      </button>
    </div>

    
    <div>
      <button mat-button (click)="openTrash()" (click)="headerName= 'Trash'" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
        <mat-icon>delete</mat-icon> Trash
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>









<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <div fxFlex="5">
      <button mat-icon-button matTooltip="menu-bar" (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div fxFlex="10" fxLayout="row" fxFlex.gt="500px" [style.fontSize.px]="1">
        <img id="img1" src="../../../assets/images/keep_48dp.png" />
        <h3 class="example-app-name" fxLayoutAlign='center center'>Fundoo</h3>
      </div>
    </div>
    <div fxFlex="50" >
      <mat-form-field  appearance="outline" fxFlex='100' fxHide.xs  fxLayoutAlign="end center" [style.fontSize.px]="2" class="search">
        <button mat-icon-button>
          <mat-icon (keyup)="lookfor()" (click)="goSearch()">search</mat-icon>
        </button>
        <input fxFlex="90" [(ngModel)]="Search"  (keyup)="lookfor()" (click)="goSearch()" matInput placeholder="search"
          [style.fontSize.px]="18" class="searchText" autocomplete="off">

      </mat-form-field>
    </div>
    <div fxFlex="25" class="settingbtn">
      <button mat-icon-button color="basic" id="refresh" fxHide.xs matTooltip="refresh">
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-icon-button color="basic" id="grid" fxHide.xs matTooltip="grid"> -->



<!-- <img *ngIf="isClicked==false" src="../../../assets/images/outline-view_agenda-24px.svg" /> -->




<!-- <img  src="../../../assets/images/outline-border_all-24px(1).svg" />
      </button>
      
      <div class="settings">
        <button mat-icon-button [matMenuTriggerFor]="menu" colour="basic" matTooltip="settings">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Send feedback</button>
          <button mat-menu-item>App downloads</button>
          <button mat-menu-item>Keyboard Shaortcuts</button>
        </mat-menu>

      </div>
      <button mat-icon-button color="basic" fxHide.xs fxHide.sm matTooltip="Notification">
        <mat-icon>notification_important </mat-icon>
      </button>
    </div>
    <button mat-icon-button color="basic" fxHide.sm fxHide.xs matTooltip="Apps">
      <mat-icon>apps</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu1" colour="basic" matTooltip=" GOOGLE ACCOUNT " [matTooltipClass]="'my-tooltip'">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
      <button mat-fab disabled id="imagebutton">
      </button>
      <p>Kavyashree K L</p>

      <button mat-menu-item></button>
      <mat-divider></mat-divider>
      <div>
        <button mat-flat-button (click)="addAccount()">Add account</button>
        <button mat-flat-button (click)="signout()">Sign out</button>
      </div>
    </mat-menu>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <mat-list role="List">


          <mat-list-item role="listitem" id="note" (click)="note()">
            <img id="img1" src="../../../assets/images/note.svg" />
            Note</mat-list-item>


          <mat-list-item role="listitem" id="rem">
            <img id="img2" src="../../../assets/images/remainder.svg" />
            Reminder</mat-list-item>

          <mat-divider></mat-divider>
          <p id="para">labels</p>
          <mat-list-item role="listitem" (click)="openLabel()" id="lable">
            <mat-icon id="edit">edit</mat-icon>
            Edit label
          </mat-list-item>

          <mat-divider></mat-divider>
          <mat-list-item role="listitem" id="arch" (click)="archieve()">
            <img id="img4" src="../../../assets/images/archieve.svg" />
            Archive</mat-list-item>

          <mat-list-item role="listitem" id="bin" (click)="openTrash()">
            <img id="img5" src="../../../assets/images/bin.svg" />
            Trash</mat-list-item>

        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container> -->