.F{
    color:rgb(22, 22, 202);
}
.u{
    color:rgb(255, 30, 0);
}
.n{
    color:rgb(28, 108, 173);
}
.d{
    color:rgb(90, 112, 29);
}
.o{
    color:rgb(0, 17, 255);
}
.o1{
    color:rgb(13, 97, 69);
}
.btn{
    background: rgb(37, 66, 161);
    color: white;
    padding: 0.5%;
    width: 5%;
    float:right;   
}
.login{
    background: white;
    color: rgb(37, 66, 161);;
    padding: 02%
}
.help-block{
    font-size: 0.8em;
    text-align: center;
    color: red;
}
.msg{
    font-size: 0.8em;
    text-align: center;
    color: red;
}
.main{
    height: 100vh;
}

