@import '../../../scss/color.scss';
@import '../../../scss/mixins.scss';
.F{
    color:$blue;
}
.u{
    color:$red;
}
.n{
    color:$lightblue
}
.d{
    color:$green
}
.o{
    color:$bluebtn;
}
.o1{
    color:$mixblue
}
.btn{
    background: rgb(37, 66, 161);
    color: white;
    padding: 0.5%;
    width: 5%;
    float:right;   
}
.login{
    background: white;
    color: rgb(37, 66, 161);;
    padding: 02%
}
.help-block{
    font-size: 0.8em;
    text-align: center;
    color: red;
}
.msg{
    font-size: 0.8em;
    text-align: center;
    color: red;
}
.main{
    height: 100vh;
}
.email mat-form-field{
    width: 70%
}
@media screen and (max-width:599px){
    #email mat-form-field{
        width: 40%
        }
}

