<div class="main" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
    <mat-card class="matcard" fxFlex="40" fxFlexAlign="center" fxFlex.xs='100'>
      <div class="fundoo" fxLayout="row" fxLayoutAlign="center center">
        <h1>
          <span class="F">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="o1">o</span>
        </h1>
      </div>
      <h4 fxLayoutAlign="center center"> recover your account</h4>
      <h5 fxLayoutAlign="center center"> you will get link to your email to reset password</h5>
      <span class="msg" fxLayoutAlign="center center">{{message}}</span>
      <form [formGroup]="forgotpasswordForm">
          <div class="email" [ngClass]="{'has-error':forgotpasswordForm.get('email').errors && (forgotpasswordForm.get('email').touched || forgotpasswordForm.get('email').dirty)}">
              <mat-form-field appearance="outline" fxLayoutAlign="center center">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              </mat-form-field>
              <span class="help-block" *ngIf="forgotpasswordForm.get('email').errors && (forgotpasswordForm.get('email').touched || forgotpasswordForm.get('email').dirty)"  fxLayoutAlign="center center">
                <span *ngIf="f.email.errors.required">Email is required</span>
                <span *ngIf="f.email.errors.email">Email must be a valid email address</span>
              </span><br>
            </div>
      <div>
          <span><button class="btn" mat-button (click)="onSubmit()" fxLayoutAlign="center center">send</button></span>
          <span><button class="login" (click)="login()" fxLayoutAlign="center">sign in instead</button></span>
    </div>
    </form>
    </mat-card>
  </div>


