.matmenu{
    width: 80%
}
.btn{
    border-radius:50%;
    
}
// .color{
//     width: 100px;
// }

//  ::ng-deep .cdk-overlay-pane{
//      max-width: 30%;
//  }
.white{
    background-color: rgb(224, 224, 224);
    margin-left: 8px;
    margin-bottom: 10px;
}
.red{
    
    margin-left: 8px;
}
.orange{
 
 margin-left: 8px;
}
.yellow{
 
 margin-left: 8px;
 margin-right: 8px;
}
.green{
   
    margin-left: 8px;
    margin-bottom: 10px;
}
.teal{
 
  margin-left: 8px;
}
.blue{
  size: 1px;
    margin-left: 8px;
}
.darkblue{

margin-left: 8px;
}
.purple{

margin-left: 8px;
margin-bottom: 10px;
}
.pink{
 
 margin-left: 8px;
}
.Brown{

margin-left: 8px;
}
.gray{

margin-left: 8px;
}