.card{
    height: 40%;
}
.mat-card mat-card-title{
    font-size: 4mm
}
// .mat-card mat-card-subtitle{
//     font-size: 3mm;

// }
.matcard{
    margin-left: 100%;
    border-radius: 5%;
    margin-top: 8%;
    min-width: 240px;
}