@import '../../../scss/color.scss';
@import '../../../scss/mixins.scss';

.mat-card mat-card-title{
    font-size: 4mm;
}
.main{
    // margin-left: 80px
}


.matcard{
    border-radius: 8px;
    box-shadow: 4px,4px,4px;
    margin-top: 8%;
    width: 300px;
    height: auto;
}
.notecard{
    border-radius: 2%;
    box-shadow: 0px,2px,4px;
    margin-top: 8%;
    width: 650px;
    // width: 100%;
    height: auto;
   
}
.mat-chip.mat-standard-chip {
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.87);
}

@media screen and (max-width:599px){
    .notecard {
       min-width: 350px;
       margin-left: none;
    }
}
@media screen and (max-width:500px){
    .notecard {
       min-width: 250px;
       margin-left: none;
    }
}
@media screen and (max-width:400px){
    .notecard {
       min-width: 200px;
       margin-left: none;
    }
}

.pin{
    opacity: 0;
    &:hover{
        opacity: 1.4;
    }
}
.icon{
        opacity: 0;
        &:hover{
            opacity: 1.4;
        }
}


.title{
    word-wrap: break-word;
    overflow: scroll;
    // text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    background: transparent;
    border: none;
    overflow: auto;
    outline: none;
    font-size: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;

}
.description{
    overflow-wrap: break-word;
    overflow: scroll;
    // text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 15px;
    background: transparent;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    

}
.text{
    font-size: 13px
}