@import "../../../scss/color.scss";
@import "../../../scss/mixins.scss";
.F{
    color:$blue;
}
.u{
    color:red;
}
.n{
    color:$lightblue
}
.d{
    color:$green
}
.o{
    color:$bluebtn;
}
.o1{
    color:$mixblue
}
h2{
    color: $black;
    font-weight: 500;
    margin:-1%;
}
h4{
    color: black;
    font-weight: 500
}

.btn{
    background: $bluebtn;
    color:$white;

    width: 10%;
    float:right;
    text-align: center
      
}
.reg{
      @include btn();
}
.forgot{
   @include btn();
      
}
.help-block{
    font-size: 0.8em;
    text-align: center;
    color: red;
}
.msg{
    font-size: 0.8em;
    text-align: center;
    color: red;
}

  .main{
      height: 100vh;
      flex-direction: row;
  }
.mains{
    height: 100vh; 
    flex-direction: row;
}
@media screen and (max-width:1279px){
    .mains{
        flex-direction: column;   
    }
}
  .email mat-form-field{
      width: 70%
  }
  .password mat-form-field{
           width: 71%
    }
  
  
  @media screen and (max-width:599px){
    #password mat-form-field{
        width: 40%
        }
  
    #email mat-form-field{
            width: 40%
            }
  }
  .service{
min-height: 70vh;
  }
  .header{
      font-size: 3ch
  }

  .advance{
    width:200px; 
    background-color: white;
    box-shadow: 25px 40px orange;
    border-style: groove;
    border-radius: 2%;
    
}
.basic{
    width: 200px;
    background-color: white;
    border-style: groove;
    border-radius: 2%;
    box-shadow: 25px 40px gray;

}

@media screen and (max-width:700px){
    .advance{
        width: 170px;
    }
    .basic{
        width: 170px
    }
  

}
@media screen and (max-width:400px){
    .advance{
        width: 130px;
    }
    .basic{
        width: 130px
    }
  

}
.login{
    height: 100vh
}