<div class="main" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
    <mat-card class="matcard" fxFlex="40" fxFlexAlign="center" fxFlex.xs='100'>
        <div class="fundoo" fxLayout="row" fxLayoutAlign="center center">
            <h1>
                <span class="F">F</span>
                <span class="u">u</span>
                <span class="n">n</span>
                <span class="d">d</span>
                <span class="o">o</span>
                <span class="o1">o</span>
            </h1>
        </div>
        <h5 fxLayoutAlign="center center">Reset Your password</h5>
        <form [formGroup]="resetpasswordForm">
            <div fxLayoutAlign="center center" class="password" fxLayout='column' [ngClass]="{'has-error':resetpasswordForm.get('password').errors && (resetpasswordForm.get('password').touched || resetpasswordForm.get('password').dirty)}">
                <mat-form-field appearance="outline" >
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        [type]="hide ? 'password' : 'text'" />
                    <!-- <mat-icon matSuffix (click)="hide=!hide">{{hide ? 'visibility':'visibility-off'}}</mat-icon> -->
                </mat-form-field>
                <div *ngIf="resetpasswordForm.get('password').errors && (resetpasswordForm.get('password').touched || resetpasswordForm.get('password').dirty)"
                    class="help-block">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>

            <div class="coinfirmpassword" fxLayoutAlign="center center" fxLayout='column' [ngClass]="{'has-error':resetpasswordForm.get('confirmpassword').errors && (resetpasswordForm.get('confirmpassword').touched || resetpasswordForm.get('confirmpassword').dirty)}">
                <mat-form-field appearance="outline" >
                    <mat-label>Confirm Password</mat-label> 
                    <input matInput formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
                        [type]="hide ? 'password' : 'text'" />
                    <!-- <mat-icon matSuffix (click)="hide=!hide">{{hide ? 'visibility':'visibility-off'}}</mat-icon> -->
                </mat-form-field>
                <div *ngIf="resetpasswordForm.get('confirmpassword').errors && (resetpasswordForm.get('confirmpassword').touched || resetpasswordForm.get('confirmpassword').dirty)"
                    class="help-block">
                    <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmpassword.errors.minlength">Password must be at least 6 characters</div>
                </div>
                <mat-error class="err">{{message}}</mat-error>

            </div><br>
            <div>
                <span><button class="btn" mat-button (click)="onSubmit()" fxLayoutAlign="center">next</button></span>
                <span class="reg" fxLayoutAlign="start center"><a href="/login">sign in instead</a></span>
            </div>
        </form>
    </mat-card>
</div>