.pinned{
margin-left: 15%;
font-size: 0.5cm;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.others{
margin-left: 15%;
font-size: 0.5cm;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.display{
    margin-left:150px ;
}
@media screen and (max-width:499px){
    .display{
        margin-left: 50px
    }
}
@media screen and (max-width:399px){
    .display{
        margin-left: 20px
    }
}