<div [style.backgroundColor]=data.array.color fxFlex='100' class="main">
  <div>
    <div fxFlex='100' fxLayoutAlign='space-between start' fxLayout='row' class="Border">
      <div *ngIf="data.cond!='trash'"><textarea class='textarea' [(ngModel)]="data.array.title" contenteditable="true" placeholder="add title here"></textarea></div>
      <div *ngIf="data.cond=='trash'" (click)='openSnackBar()'>{{data.array.title}}</div>
      <div *ngIf="data.cond!='trash'">
        <div class="barpin" *ngIf=data.array.isPined>

          <img src="../../../assets/images/pin_bar.svg"  (click)='doUnPin(data.array)'/>

        </div>
        <div class="barpin" *ngIf= !data.array.isPined>

          <img src="../../../assets/images/unpin_bar.svg" (click)='doPin(data.array)' />
        </div>
      </div>
    </div>
  </div>
  <div >
    <!-- -------------------------------------------description------------------------------------------------------------- -->
    <div *ngIf="data.cond!='trash'"><textarea class='textarea'  contenteditable="true" [(ngModel)]="data.array.description" placeholder="add description here"></textarea></div>
    <div *ngIf="data.cond=='trash'" (click)='openSnackBar()'>{{data.array.description}}</div>
   
    <!-- ---------------------------------------------checklist---------------------------------------------------------- -->
    <div *ngIf='show==false'>
      <div *ngFor='let list of checkLists'>
        <div fxLayout='row' *ngIf='!list.isDeleted'>
          <input matInput [(ngModel)]=list.itemName>
        </div>
      </div>
    </div>
    <div *ngIf='show==true'>
      <div *ngFor='let list of unDeletedList'>
          <div fxLayoutAlign='space-between center'>
            <mat-checkbox (click)="update(list,'close')"><input matInput [(ngModel)]=list.itemName></mat-checkbox>
            <div (click)='delete(list,"open")'>
              <img src='../../../assets/images/wrong_mark.svg'>
            </div>
          </div>
      </div>
      <mat-divider></mat-divider>
      <div  fxLayout='row'><img src='../../../assets/images/add_mark.svg'><input matInput [(ngModel)]="list" placeholder="List"
          (keydown)='enter($event,list)'></div>
      <mat-divider></mat-divider>
      <div *ngFor='let list of deletedLists'>
          <div fxLayoutAlign='space-between center'>
            <img src='../../../assets/images/right_box.svg' class='decorate' (click)="update(list,'open')"><input matInput style="text-decoration:line-through;" [(ngModel)]=list.itemName>
            <div (click)='delete(list,"close")'>
              <img src='../../../assets/images/wrong_mark.svg'>
            </div>
          </div>
      </div>
    </div><br><br>
    <!-- ----------------------------------------------------------checklist end---------------------------------------- -->
  
     <!-- ----------------------------------------------------------reminder------------------------------------------------------------------- -->
     <div fxLayout='row' fxLayout='row wrap'>
     <div *ngFor='let item of data.array.reminder'>
        <mat-chip-list>
          <div *ngIf='(todaydate|date:shortDate)==(item|date:shortdate)'>
            <mat-chip style="padding-right:0px;padding-left:7px;padding-top: 0px;padding-bottom: 0px">Today{{item|date:'shortTime'}}
              <mat-icon matChipRemove (click)="removeReminder(array,item)">close</mat-icon>
            </mat-chip>
          </div>
          <div *ngIf='(tomorrow|date:shortDate)==(item|date:shortdate)'>
            <mat-chip style="padding-right:0px;padding-left:7px;padding-top: 0px;padding-bottom: 0px">Tom{{item|date:'shortTime'}}
              <mat-icon matChipRemove (click)="removeReminder(array,item)">close</mat-icon>
            </mat-chip>
          </div>
          <div *ngIf='(tomorrow|date:shortDate)!==(item|date:shortdate) && (todaydate|date:shortDate)!==(item|date:shortdate)'>
            <mat-chip style="padding-right:0px;padding-left:0px;padding-top: 0px;padding-bottom: 0px">{{item|date:'short'}}
              <mat-icon matChipRemove (click)="removeReminder(array,item)">close</mat-icon>
            </mat-chip>
          </div>
        </mat-chip-list>
      </div> 
   
    <!-- ---------------------------------------------------------labels--------------------------------------------------------------------------- -->
    <div *ngFor='let labels of data.array.noteLabels'>
        <mat-chip-list selected>
            <mat-chip style="padding-right:0px;padding-left:7px;padding-top: 0px;padding-bottom: 0px" class="btn">{{labels.label}}
              <mat-icon matChipRemove (click)="removeLabel(array,labels)">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
      </div>
   
    <!-- ----------------------------------------------------------------colaborators--------------------------------------------------------------- -->
    <div *ngFor='let colab of data.array.collaborators'>
        <img src="../../../assets/images/round-account_circle-24px.svg" matTooltip={{colab.email}} (click)='opendialog(array)'>
      </div>
    </div>
    
    <!-- ------------------------------------------------------------Iconsss---------------------------------------------------------- -->
    <div fxLayoutAlign='space-between end'>
      <div fxFlex='100' *ngIf="data.cond=='trash'">
        <button mat-icon-button [matMenuTriggerFor]="menu" colour="basic" matTooltip="more">
          <img id="img" src="../../../assets/images/more_vert.svg" />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)=deleteForever(array)>Delete Forever</button>
          <button mat-menu-item (click)='restore(array)'>Restore</button>
        </mat-menu>
      </div>
      <div fxFlex='100' *ngIf="data.cond!='trash'" fxLayout='row' fxLayoutAlign='space-between end'>
        <app-icon-list (showtick)="addList($event)" [update]='Update' [card]='data.array'  (showtickUpdate)=showCheckBox($event) [type]='data.type' >
        </app-icon-list>
        <button fxLayoutAlign='end end' mat-button [mat-dialog-close]="data" cdkFocusInitial >close</button>
      </div >
     
    </div>
  </div>

</div>