$blue : rgb(22, 22, 202);
$red : rgb(255, 30, 0);
$lightblue : rgb(28, 108, 173);
$bluebtn : rgb(37, 66, 161);
$mixblue :rgb(13, 97, 69);
$green:rgb(90, 112, 29);
$black:rgb(20, 20, 20);
$white:white;
$background-color:white
