<div *ngIf="flag===true" (click)="reverseFlag()" fxLayout="row" fxLayoutAlign="space-around start" fxFlex="100">
  <mat-card fxFlex="45" fxFlex.xs='100' class="matcard" fxLayoutAlign="space-between center" style="padding-bottom:0px;padding-top:0px">

    <div data-text="Take a note.." class="Border" id="noteTitle" fxLayout="column" contenteditable="true" class="maincard">
    </div>

    <div fxLayout="row" fxLayoutAlign="end start">
      <button mat-icon-button>
        <mat-icon class="check" matTooltip="New List">check_box</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon class="brush" matTooltip="Drawing is not available">brush</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon class="insert" matTooltip="New note with image">insert_photo</mat-icon>
      </button>

    </div>

  </mat-card>
</div>



<div *ngIf="flag===false" fxLayout="row" fxLayoutAlign="space-around start" fxFlex="100">


  <mat-card fxLayout="column" class="matcard" fxFlex="45" fxFlexOffset.xl="20" fxFlex.xs='97' [style.backgroundColor]="bgcolor">
    <div fxFlex="55" fxFlexOffset.xl="20" fxFlex.xs='97' fxLayout='row' fxLayoutAlign="space-between center">
      <div class="Border" fxLayout="column" class="takenote">
        <textarea class="textArea" matTextareaAutosize placeholder="Title" [formControl]="noteTitle"></textarea>
      </div>

      <div fxLayout="row" class='pin'>
        <button mat-icon-button color="basic" (click)="ispinned()">
          <div class="barpin" *ngIf="flag1==false">

            <img src="../../../assets/images/pin_bar.svg" (click)='dopin(false)' />

          </div>
          <div class="barpin" *ngIf="flag1==true">

            <img src="../../../assets/images/unpin_bar.svg" (click)='dopin(true)' />
          </div>
        </button>
      </div>
    </div>
    <div>
      <div class="Border" fxLayout="column" class="takenote">
        <textarea class="textArea" matTextareaAutosize placeholder="Take a note.. " [formControl]="noteContent"></textarea>
      </div>
    </div>
    <!-- --------------------------------------------------checklist-------------------------------- -->
   
    <div *ngIf='show==false'>
      <div *ngFor='let list of checklistOpen'>
        <div *ngIf='list.status=="open"'>
        <div fxLayoutAlign='space-between center'>
          <img src='../../../assets/images/empty_box.svg' (click)="update(list,'close')"><input matInput [(ngModel)]=list.itemName>
          <div (click)='delete(list)'>
            <img src='../../../assets/images/wrong_mark.svg'>
          </div>
        </div>
      </div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout='row'><img src='../../../assets/images/add_mark.svg'><input matInput [(ngModel)]="list" placeholder="List Here"
          (keydown)='enter($event,list)'></div>
      <mat-divider></mat-divider>
      <div *ngFor='let list of checklistOpen'>
        <div *ngIf='list.status=="close"'>
          <div fxLayoutAlign='space-between center'>
            <img src='../../../assets/images/right_box.svg' class='decorate' (click)="update(list,'open')"><input
              matInput style="text-decoration:line-through;" [(ngModel)]=list.itemName>
            <div (click)='delete(list)'>
              <img src='../../../assets/images/wrong_mark.svg'>
            </div>
          </div>
        </div>
      </div>
    </div><br><br>
    <!-- --------------------------------------------------colaborator--------------------------------------------- -->
    <div fxLayout='row'>
      <div *ngFor='let array of colaborator'>
        <img src='../../../assets/images/round-account_circle-24px.svg' matTooltip={{array.email}}>
      </div>
      <!-- ----------------------------------------------------------label------------------------------------------------------ -->
      <div fxLayout='row wrap' fxLayoutAlign='start start' fxLayoutGap='8px'>
        <div *ngFor='let label of label'>
          <mat-chip-list>
            <mat-chip>
              {{label}}
              <mat-icon matChipRemove (click)='remove()'>cancel
              </mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <!-- --------------------------------------------------reminder--------------------------------------------- -->
    <div fxLayout='row' fxLayout='row wrap'>
      <div *ngFor='let item of reminder'>
        <mat-chip-list>
          <div *ngIf='(todaydate|date:shortDate)==(item|date:shortdate)'>
            <mat-chip style="padding-right:0px;padding-left:7px;padding-top: 0px;padding-bottom: 0px">Today{{item|date:'shortTime'}}
              <mat-icon matChipRemove (click)="removeReminder(array,item)">close</mat-icon>
            </mat-chip>
          </div>
          <div *ngIf='(tomorrow|date:shortDate)==(item|date:shortdate)'>
            <mat-chip style="padding-right:0px;padding-left:7px;padding-top: 0px;padding-bottom: 0px">Tom{{item|date:'shortTime'}}
              <mat-icon matChipRemove (click)="removeReminder(array,item)">close</mat-icon>
            </mat-chip>
          </div>
          <div *ngIf='(tomorrow|date:shortDate)!==(item|date:shortdate) && (todaydate|date:shortDate)!==(item|date:shortdate)'>
            <mat-chip style="padding-right:0px;padding-left:0px;padding-top: 0px;padding-bottom: 0px">{{item|date:'short'}}
              <mat-icon matChipRemove (click)="removeReminder(array,item)">close</mat-icon>
            </mat-chip>
          </div>
        </mat-chip-list>
      </div>
    </div>
    <!-- --------------------------------------------------icon----------------------------------------------- -->
    <div fxFlex='50' fxLayoutAlign='space-between end' fxLayout='row'>
      
        <app-icon-list (messageEvent)="recievemessage($event)" [type]='notes' [more]=note [message]="message"
          (showtickUpdate)='showTick($event)' (emitLabelToNote)="getLabel($event)" (emitColabToNote)='getColab($event)'
          (emitArchiveEvent)='archiveEvent($event)' (emitReminderNote)='getReminder($event)'>
        </app-icon-list>

    
      
        <button fxLayoutAlign='end end' class="addnote" mat-button (click)="addNote()">close</button>
      
    </div>

  </mat-card>
</div>